name: Build

on:
  workflow_dispatch:
  push:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          python --version
          pip install pyinstaller
          pip install -r requirements.txt

      - name: Build with PyInstaller
        run: |
          pyinstaller --onefile --clean --name TrollRestore trollstore.py

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: TrollRestore-Windows
          path: dist/TrollRestore.exe